<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="WinFormsApp3.Properties.Settings.Setting" connectionString="Data source=Data Source=WPPHL039SQL01;Initial Catalog=RPA_GRID;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>